.quickblox-chat {
  width: 40vw;

}

.chat-display {
  height: 500px;
  overflow-y: scroll;
}

.chat-form {
  background-color: rgb(184, 184, 184);
  height: auto;
  display: none;
  padding: 20px 20px 0 20px;
}

.btn {
  background-color: #9dcb2c;
  display: inline-block;
  border-radius: 5px;
  padding: 10px 15px;
}

.btn.dialog-btn {
  background-color: #9d9d9d;
}

.btn.dialog-btn.selected {
  background-color: #ebed79;
}

.chat-input {
  /*height: 20px;*/
}

.new-options {
  width: 50%;
  display: inline-block;
}

.uploaded-files {
  width: 50%;
  display: inline-block;
}

.message-input {
  width: 100%;
}

.hidden {
  display: none;
}
.shown {
  display: block;
}

.message {
  width: 80%;
  padding: 20px;
  border-radius: 10px;
  margin: 10px 0;
}

.message.customer {
  background-color: #82e728;
  float: right;
}

.message.admin {
  background-color: #e9e9e9;
  float: left;
}

.clear {
  clear: both;
}
