.quickblox-chat {
  width: 80vw;
}

.quickblox-chat input[type="text"],
.quickblox-chat input[type="password"],
.quickblox-chat select,
.quickblox-chat textarea {
  box-sizing: content-box;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #DEDEDE inset;
  padding: 5px;
  width: 100%;
  background: #F5F5F5;
  margin: 8px auto;
}
.quickblox-chat input[type="text"]:focus,
.quickblox-chat input[type="password"]:focus,
.quickblox-chat select:focus,
.quickblox-chat textarea:focus {
  background: #FBFBFB;
}

.quickblox-chat .chat-display {
  height: 500px;
  overflow-y: scroll;
  display:inline-block;
  width: 100%;
}

.quickblox-chat .chat-form {
  background-color: rgb(184, 184, 184);
  height: auto;
  display: none;
  padding: 20px 20px 0 20px;
}

.quickblox-chat .btn {
  background-color: #9dcb2c;
  display: inline-block;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 20px;
}

.quickblox-customer-list {
  display: block;
  width: 100%;
  overflow-x: scroll;
}

.quickblox-chat .btn.dialog-btn {
  background-color: #9d9d9d;
  display: inline;
  width: 50px;
  overflow-x: hidden;
}

.quickblox-chat .btn.dialog-btn.selected {
  background-color: #ebed79;
  font-weight: bold;
}

.quickblox-chat .btn.dialog-btn.warning {
  background-color: #edb479;
}

.quickblox-chat .btn.dialog-btn.urgent {
  background-color: #ed7979;
}

.quickblox-chat .new-options {
  width: 50%;
  display: inline-block;
}

.quickblox-chat .uploaded-files {
  width: 50%;
  display: inline-block;
}

.quickblox-chat .message-input {
  width: 100%;
}

.quickblox-chat .hidden {
  display: none;
}
.quickblox-chat .shown {
  display: block;
}
.quickblox-chat .btn.shown {
  display: inline-block;
}

.quickblox-chat .message {
  width: 80%;
  padding: 20px;
  border-radius: 10px;
  margin: 10px 0;
}

.quickblox-chat .message.customer {
  background-color: #82e728;
  float: right;
}

.quickblox-chat .message.operator {
  background-color: #e9dd6f;
  float: left;
}
.quickblox-chat .message.server {
  background-color: #e9e9e9;
  float: left;
}

.quickblox-chat .clear {
  clear: both;
}

.quickblox-chat .error-message {
  font-weight: bold;
  color: #e04c4c;
}

.quickblox-chat .align-right {
  text-align: right;
}
